.d-flex{
    display: flex!important;
}

.justify-content{
    justify-content: center!important;
}

.justify-content-around {
    -webkit-justify-content: space-around!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}

.align-items-center{
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

html, .container{
    width: 100%;
    height: 100%;
    margin: 0px;
}

body{
    background-image: url(image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Prompt', sans-serif;
}

.home #header{
    text-align: center;
    size: 150%;
    font-size: 120px;
    text-shadow: 4px 3px rgb(39, 39, 39);
    color:   #ffffff;
    text-transform: capitalize;
}

.home #mid{
    color: white;
    text-align: center;
    font-size: 58px;
    border: 2px solid;
    padding: 5rem 8rem;
    text-transform: capitalize;
    text-shadow: 4px 3px rgb(39, 39, 39);
    color:   #ffffff;
}

.btn{
    background-color:  #c3d0ff00;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin-top: 70px;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid cyan;
    color: cyan;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin-top: 70px;
}

.quiz{
    display: none;
    border: 2px solid white;
    margin-bottom: 0px;
    align-items: center;
    text-align: center;
    font-size: 40px;
    width: 90%;
}

.btn-quiz#a, .btn-quiz#b, .btn-quiz#c, .btn-quiz#d{
    background-color:  rgba(17, 21, 58, 0);
    color: white;
    border: 2px solid white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.btn-quiz#a:hover, .btn-quiz#b:hover, .btn-quiz#c:hover, .btn-quiz#d:hover{ 
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid cyan;
    color: cyan;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.btn-quiz-container{
    margin-bottom: 20px;
}

.result{
    display: none;
    position: all;
    text-align: center;
    border: 2px solid white;
    height: 80%;;
    width: 90%;
}

.result #scoretxt{
    font-size: 100px;
    text-shadow: 4px 3px rgb(39, 39, 39);
    color:   #ffffff;
}

.result #finalscore{
    font-size: 80px;
    text-shadow: 4px 3px rgb(39, 39, 39);
    color:   #ffffff;
}
.result #new{
    background-color:  rgba(255, 255, 255, 0);
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    width: 300px;
}

p#time{
    color:white;
}
p#order{
    margin-bottom: 10px;
    border: 2px solid white;
    color: white;
    margin: 0% 25%;
}
p#image{
    margin-top: 10px;
}
p#q{
    color:white;
}

@media screen and (max-width: 1366px) {
    p#time{
        color:white;
        margin: 10px 0px;
    }
    p#order{
        margin-bottom: 10px;
        border: 2px solid white;
        color: white;
        margin: 0% 25%;
    }
    p#image{
        margin: 10px 0px;
    }
    p#q{
        color:white;
        margin: 10px 0px;
        font-size: 40px;
    }
    img{
        height: 300px;
    }
    .quiz{
        display: none;
        border: 2px solid white;
        margin-bottom: 0px;
        align-items: center;
        text-align: center;
        font-size: 40px;
        width: 95%;
    }
}
